.mainFxmlClass {
    -fx-background-color: lightgrey;
    -fx-border-radius: 5;
}

.gridPane {
    -fx-background-color: #4D4D4D;
    -fx-background-radius: 5;
}

.sublogo {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-text-fill:  #F16A70;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.step {
    -fx-text-fill: #E49105;
    -fx-font-weight: bold;
    -fx-font-size: 15pt;
}

.navigationAndAdd {
    -fx-background-color: #E49105;
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
    -fx-border-color: #FFF;
    -fx-border-radius: 3;
    -fx-border-width: 2px;
}

.navigationAndAdd:hover {
    -fx-border-color: yellow;
    -fx-border-radius: 3;
    -fx-border-width: 2px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#text {
    -fx-text-fill: #FFF;
}

#special {
    -fx-font-style: italic;
}

#quantity {
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}

#checkout {
    -fx-background-color: #A3712A;
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
    -fx-border-color: #FFF;
    -fx-border-radius: 3;
    -fx-border-width: 2px;
}

#checkout:hover {
    -fx-border-color: yellow;
    -fx-border-radius: 2;
    -fx-border-width: 2px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}